@import 'tailwindcss';

@theme {
	--color-pale-pink: #ffc0c0;
	--color-sage-green: #9caf88;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

body {
	margin: 0;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
